@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ember-modal-dialog/ember-modal-structure.css';
@import 'ember-modal-dialog/ember-modal-appearance.css';

:root {
  --root-font-size: 1.2rem;
}

html {
  font-size: var(--root-font-size);
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
  overflow: hidden;
}

.animation-fill-forward {
  animation-fill-mode: forwards;
}

.max-w-56 {
  max-width: 14rem;
}
