@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ember-modal-dialog/ember-modal-structure.css';
@import 'ember-modal-dialog/ember-modal-appearance.css';

html {
  font-size: 1.2rem;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
  overflow: hidden;
}

.animation-fill-forward {
  animation-fill-mode: forwards;
}
