<div>
  <div class="py-3 flex">
    <div class="bg-white w-1 my-1 mr-2"></div>
    <h4 class="text-lg font-bold">
      {{@title}}
    </h4>
  </div>
  <p class="text-sm pl-2.5">
    {{@description}}
  </p>
</div>