<div ...attributes>
  <Ui::Title @icon="/icons/icons8-news-96.png" @alt="news">
    News
  </Ui::Title>
  {{#if this.currentNewsItem}}
    <Ui::FadeIn>
      <Widgets::BreakingNews::NewsItem
        @title={{this.currentNewsItem.title}}
        @description={{this.currentNewsItem.description}}
      />
    </Ui::FadeIn>
  {{/if}}
</div>