<div class="flex flex-col" ...attributes>
  {{#each @options as |option|}}
    <Ui::TabGroup::Tab
      class="my-1"
      @isSelected={{eq @selectedTab option.label}}
      @label={{option.label}}
      @update={{fn @selectedTabUpdate option.label}}
    />
  {{/each}}
</div>